body{
	margin: 0;
	padding: 0;
	
	background-color: black
}

header{
	text-align: center;
    background-color: #D3D3D3;
    height: 8%;
    
}

h2{
	text-align: center;
	padding: 30px;
	 font-family: sans-serif; 
	  
}

.contato{
	text-decoration:none;
}

.sobre-mim{
	text-decoration:none;
}

.img-whats{
    margin: 5px;
	padding: 35px;
   
}

.img-insta{
    margin: 5px;
	padding: 35px;
   
}

.img2{
	
	 border-radius: 70px;
	
}

.profile-container{
justify-content: center;
 
  margin: 15px;
	padding: 15px;
	display: flex;

}

p{
	color: white;
	margin: 30px;
	padding: 30px;
	text-align: center;
	font-size: 25px;
	  font-family: sans-serif; 
}

.imagem{
	justify-content: center;
	text-align: center;
	margin: 30px;
	padding: 30px;

}


.botao{
    text-align: center;
   padding: 30px;
   margin: 30px;

}

.but{
	
	font-size: 30px;
    padding: 30px;
    margin: 150px;
    text-transform: uppercase;
     color: #D3D3D3;
      background-color:#191970;
      border-radius: 15px;
      text-decoration:none;
       font-family: sans-serif; 
}